
<% if flash[:failed] %>
  <p><font color="red"><%= flash[:failed] %></font></p>
  <% end %>
  <% if flash[:fail] %>
  <p><font color="red"><%= flash[:fail] %></font></p>
  <% end %>
<%= form_for @tweet do |form| %>
  

  <div class="field">
 
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
