<% require 'date' %>

<h3>ツイート</h3>
<% if flash[:notice] %>
  <p><font color="green"><%= flash[:notice] %></font></p>
<% end %>  
<% if flash[:update] %>
  <p><font color="green"><%= flash[:update] %></font></p>
<% end %>
<% if flash[:destroy] %>
  <p><font color="blue"><%= flash[:destroy] %></font></p>
<% end %>
<table>
    <tbody>
<% @tweets.each do |tweet| %>
  <tr>
     <td><img  id="a" src="assets/icon.png"></td>
     <td id="b"><%= tweet.message %></td>
     <td><%= link_to 'show', tweet %>
     <%= link_to 'delete', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
     <%= link_to 'edit', edit_tweet_path(tweet) %></td>
     <% tweet.tdate = tweet.created_at %>
     <% t1 = tweet.tdate %>
     <% t2 = Time.current %>
     
     <% if (t2 - t1) <= 60 * 60 %>
       <td><%= ((t2 - t1) / 60).to_i.to_s %> 分前 </td>
     <% elsif (t2 - t1) <= 60 * 60 * 24 %>
       <td><%= ((t2 - t1) / 3600).to_i.to_s %>時間前</td>
     <% else %>
       <td><%= (t2.to_date - t1.to_date).to_i.to_s %>日前</td>
     <% end %>

  </tr>

<% end %> 
    </tbody>
</table>
