// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container{
    font-family:arial;
    margin: 0 5%;
}
#header_img{
    height: 300px;
    width: 1100px;

}
#sidebar{
    float: left;
    width:30%;
    background-color:#EEFFFF;
    margin:15px 0;
    text-align:center;
}

#side{
    font-size:18px;
    
}
#s{
    background-color: #44FFFF;
    border:none 2px;
    display: inline-block;
    border-radius: 20px;
    padding:10px;
    
}
#content{
    float: right;
    width:65%;
}
h3{
    border-bottom: dotted 3px #99FFFF;
 
}

td{
    border-bottom: dashed 3px #99FFFF;
  
}
#b{
    width: 300px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
#a{
    height:70px;
    width:70px;
}